<%- include('partials/header') %>


<form action="/login" method="post">
    <h1>Login</h1>
    <input type="text" placeholder="User" name="user_name" class="formato_inputs">
    <input type="password" name="user_pass" class="formato_inputs" placeholder="Pass">
    <button type="submit">Enviar</button>

</form>



<%- include('partials/footer') %>