<%- include('partials/cabecera') %>

<form action="/registro_libros" method="post">
    <h1>Registrarse</h1>
    <input type="text" placeholder="Titulo" name="titulo" class="formato_inputs">
    <input type="text" placeholder="Autor" name="autor" class="formato_inputs">
    <input type="text" placeholder="Genero" name="genero" class="formato_inputs">
    
    <button type="submit">Registrar Libro</button>

</form>

<%- include('partials/footer') %></input>