<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stilos.css">
    <title>Libros_api</title>
</head>
<body>
    <nav id="cabecera_cabecera">
       <a href="../inicio">Inicio</a>
       <a href="../registro_libros">Añadir</a>
       <a href="../libros">Todos</a>
    </nav>
    
